<!doctype html>
<html>
  <head>
    <title>Add Product to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%>: Add Product</h1>
    <form method="POST" action="/productadded">
        <p>Product name: <input id="name" type="text" name="name" value="" /></p>
        <p>Price: <input id="price" type="text" name="price" value="" /></p>
        <input type="submit" value="Add Product" />
      </form>
  </body>
</html>