<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <nav class="navbar">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/list">Products</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
        <li><a href="/basket">Basket & Checkout</a></li>
        <li><a href="/users/logout">Logout</a></li>
      </ul>
    </nav>


    <script>
      async function addToBasket(productId) {
          try {
              const response = await fetch('/products/add-to-basket', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ productId, quantity: 1 }), // Default quantity is 1
              });
  
              if (response.ok) {
                  alert('Product added to basket successfully!');
              } else {
                  alert('Failed to add product to basket. Please try again.');
              }
          } catch (error) {
              console.error('Error adding product to basket:', error);
              alert('An error occurred. Please try again later.');
          }
      }
  </script>
  

  </head>
  <body>
    <h1>Welcome to <%=shopData.shopName%></h1>

    <% if (message) { %>
      <h2><p><%= message %></p></h2>
    <% } %>


    <img src="/img/curling.jpg" alt="Curling Mascara" class="pictures" onclick="addToBasket(1)">
    <img src="/img/lengthening.jpg" alt="Lengthening Mascara" class="pictures" onclick="addToBasket(2)">
    <img src="/img/volumising.jpg" alt="Volumising Mascara" class="pictures" onclick="addToBasket(3)">


    <!-- <header>
      <div id="category-container"></div>
    </header>
    <main>
      <div id="product-container"></div>
      <div id="product-details"></div>
    </main> -->
    <!-- <script src="js/api.js"></script>
    <script src="js/app.js"></script> -->
    <!-- <p><a href="about">About <%=shopData.shopName%></a></p>
    <p><a href="list">Product List</a></p>
    <p><a href="search">Search for Products</a></p>
    <p><a href="users/register">Register</a></p>
    <p><a href="users/login">Login</a></p>
    <p><a href="users/userslist">Users List</a></p> -->

  </body>
</html>
