<!doctype html>
<html>
  <head>
    <title>List <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <nav class="navbar">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/list">Products</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
        <li><a href="/basket">Basket & Checkout</a></li>
        <li><a href="/users/logout">Logout</a></li>
      </ul>
    </nav>
  </head>
  <body>
    <h1>Search Results - <%= shopData ? shopData.shopName : "Shop" %></h1>
    <h2>Here are the matching items:</h2>
    <ul>
      <% if (availableitems && availableitems.length > 0) { %>
        <% availableitems.forEach(function(item) { %>
          <li><%= item.name %>, £<%= item.price %></li>
        <% }); %>
      <% } else { %>
        <li>No items matched your search.</li>
      <% } %>
    </ul>
    </ul>
  </body>
</html>