<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script>
        // Redirect to the home page after 2 seconds
        setTimeout (function() {
            window. location.href = '/usr/448/';
        }, 2000);
    </script>
</head>
<body>
    <h1>Logout Successful</h1>
    <p><%= message %></p>
</body> 
</html>