<!doctype html>
<html>
  <head>
    <title>Register for <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Register for <%=shopData.shopName%></h1>
    <form method="POST" action="registered" >
      <input type="text" name="user" placeholder="Username" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
      <button type="submit">Register</button>
    </form>  
  </body>
</html>