<!doctype html>
<html>
  <head>
    <title>Register for <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Register for <%=shopData.shopName%></h1>
    <form method="POST" action="registered">
        <p>UserName: <input id="user" type="text" name="user" /></p>
        <p>Email: <input id="email" type="text" name="email"/></p>
        <p>Password:  <input id="password" type="" name="passowrd"/></p>
        <input type="submit" value="Register" />
      </form>
  </body>
</html>