<!doctype html>
<html>
  <head>
    <title>Search <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <nav class="navbar">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/list">Products</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
        <li><a href="/basket">Basket & Checkout</a></li>
        <li><a href="/users/logout">Logout</a></li>
      </ul>
    </nav>
  </head>
  <body>
    <h1>Search <%=shopData.shopName%></h1>
    <form action="search_result" method="GET">
      <label for="search_box">What kind of product are you looking for?</label>
      <input id="search_box" type="text" name="search_text">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>